/Professor.class
/Student.class
/StudentClass.class
/ClassPool.class
/student.class
/Aufgaben.class
/AufgabenPool.class
/Controller.class
/Group.class
/Inputs.class
/RandomGroups.class
/student1.class
/Student_Alt.class
